body{
    background:#f4f6f9;
    font-family:Arial,sans-serif;
}

.container{
    width:80%;
    margin:auto;
    margin-top:40px;
}

.card{
    background:white;
    padding:25px;
    border-radius:10px;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

p{
    font-size:18px;
    margin:15px 0;
}